# Demographics and Employment in the United States

In the wake of the Great Recession of 2009, there has been a good deal of focus on employment statistics, one of the most important metrics policymakers use to gauge the overall strength of the economy. In the United States, the government measures unemployment using the **Current Population Survey (CPS)**, which collects demographic and employment information from a wide range of Americans each month. In this exercise, we will employ the topics reviewed in the lectures as well as a few new techniques using the September 2013 version of this rich, nationally representative dataset.

The observations in the dataset represent people surveyed in the September 2013 CPS who actually completed a survey. While the full dataset has 385 variables, in this exercise we will use a more compact version of the dataset, CPSData.csv. How many interviewees are in the dataset?

In [2]:
CPS <- read.csv('data/CPSData.csv')
head(CPS)

  PeopleInHousehold Region State   MetroAreaCode Age Married       Sex
1 1                 South  Alabama 26620         85  Widowed       Female
2 3                 South  Alabama 13820         21  Never Married Male
3 3                 South  Alabama 13820         37  Never Married Female
4 3                 South  Alabama 13820         18  Never Married Male
5 3                 South  Alabama 26620         52  Widowed       Female
6 3                 South  Alabama 26620         24  Never Married Male
  Education              Race  Hispanic CountryOfBirthCode Citizenship
1 Associate degree       White 0        57                 Citizen, Native
2 High school            Black 0        57                 Citizen, Native
3 High school            Black 0        57                 Citizen, Native
4 No high school diploma Black 0        57                 Citizen, Native
5 Associate degree       White 0        57                 Citizen, Native
6 Bachelor's degree      White 0        57                 Citizen, Native
  EmploymentStatus   Industry
1 Retired            NA
2 Unemployed         Professional and business services
3 Disabled           NA
4 Not in Labor Force NA
5 Employed           Professional and business services
6 Employed           Educational and health services

In [3]:
str(CPS)

'data.frame':	131302 obs. of  14 variables:
 $ PeopleInHousehold : int  1 3 3 3 3 3 3 2 2 2 ...
 $ Region            : Factor w/ 4 levels "Midwest","Northeast",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ State             : Factor w/ 51 levels "Alabama","Alaska",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ MetroAreaCode     : int  26620 13820 13820 13820 26620 26620 26620 33660 33660 26620 ...
 $ Age               : int  85 21 37 18 52 24 26 71 43 52 ...
 $ Married           : Factor w/ 5 levels "Divorced","Married",..: 5 3 3 3 5 3 3 1 1 3 ...
 $ Sex               : Factor w/ 2 levels "Female","Male": 1 2 1 2 1 2 2 1 2 2 ...
 $ Education         : Factor w/ 8 levels "Associate degree",..: 1 4 4 6 1 2 4 4 4 2 ...
 $ Race              : Factor w/ 6 levels "American Indian",..: 6 3 3 3 6 6 6 6 6 6 ...
 $ Hispanic          : int  0 0 0 0 0 0 0 0 0 0 ...
 $ CountryOfBirthCode: int  57 57 57 57 57 57 57 57 57 57 ...
 $ Citizenship       : Factor w/ 3 levels "Citizen, Native",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ EmploymentStatus  : Factor w/ 5 levels "Disabled","Employed",..: 4 5 1 3 2 2 2 2 3 2 ...
 $ Industry          : Factor w/ 14 levels "Agriculture, forestry, fishing, and hunting",..: NA 11 NA NA 11 4 14 4 NA 12 ...

In [4]:
summary(CPS)

 PeopleInHousehold       Region               State       MetroAreaCode
 Min.   : 1.000    Midwest  :30684   California  :11570   Min.   :10420
 1st Qu.: 2.000    Northeast:25939   Texas       : 7077   1st Qu.:21780
 Median : 3.000    South    :41502   New York    : 5595   Median :34740
 Mean   : 3.284    West     :33177   Florida     : 5149   Mean   :35075
 3rd Qu.: 4.000                      Pennsylvania: 3930   3rd Qu.:41860
 Max.   :15.000                      Illinois    : 3912   Max.   :79600
                                     (Other)     :94069   NA's   :34238
      Age                 Married          Sex
 Min.   : 0.00   Divorced     :11151   Female:67481
 1st Qu.:19.00   Married      :55509   Male  :63821
 Median :39.00   Never Married:30772
 Mean   :38.83   Separated    : 2027
 3rd Qu.:57.00   Widowed      : 6505
 Max.   :85.00   NA's         :25338

                   Education                   Race           Hispanic
 High school            :30906   American Indian :  1433   Min.   :0.0000
 Bachelor's degree      :19443   Asian           :  6520   1st Qu.:0.0000
 Some college, no degree:18863   Black           : 13913   Median :0.0000
 No high school diploma :16095   Multiracial     :  2897   Mean   :0.1393
 Associate degree       : 9913   Pacific Islander:   618   3rd Qu.:0.0000
 (Other)                :10744   White           :105921   Max.   :1.0000
 NA's                   :25338
 CountryOfBirthCode               Citizenship               EmploymentStatus
 Min.   : 57.00     Citizen, Native     :116639   Disabled          : 5712
 1st Qu.: 57.00     Citizen, Naturalized:  7073   Employed          :61733
 Median : 57.00     Non-Citizen         :  7590   Not in Labor Force:15246
 Mean   : 82.68                                   Retired           :18619
 3rd Qu.: 57.00                                   Unemployed        : 4203
 Max.   :555.00                                   NA's              :25789

                               Industry
 Educational and health services   :15017
 Trade                             : 8933
 Professional and business services: 7519
 Manufacturing                     : 6791
 Leisure and hospitality           : 6364
 (Other)                           :21618
 NA's                              :65060