# Stock Dynamics

A stock market is where buyers and sellers trade shares of a company, and is one of the most popular ways for individuals and companies to invest money. The size of the world stock market  is now estimated to be in the trillions. The largest stock market in the world is the New York Stock Exchange (NYSE), located in New York City. About 2,800 companies are listed on the NSYE. In this problem, we'll look at the monthly stock prices of five of these companies: **IBM**, **General Electric (GE)**, **Procter and Gamble**, **Coca Cola**, and **Boeing**. The data used in this problem comes from Infochimps.

Download and read the following files into R, using the read.csv function: IBMStock.csv, GEStock.csv, ProcterGambleStock.csv, CocaColaStock.csv, and BoeingStock.csv.

Call the data frames "IBM", "GE", "ProcterGamble", "CocaCola", and "Boeing", respectively. Each data frame has two variables, described as follows:

    Date: the date of the stock price, always given as the first of the month.
    StockPrice: the average stock price of the company in the given month.

In this problem, we'll take a look at how the stock dynamics of these companies have changed over time.

**Our five datasets all have the same number of observations. How many observations are there in each data set?**

In [1]:
IBM  <- read.csv('data/IBMStock.csv')
GE  <- read.csv('data/GEStock.csv')
CocaCola  <- read.csv('data/CocaColaStock.csv')
ProcterGamble  <- read.csv('data/ProcterGambleStock.csv')
Boeing  <- read.csv('data/BoeingStock.csv')

In [2]:
head(IBM)

  Date   StockPrice
1 1/1/70 360.3190
2 2/1/70 346.7237
3 3/1/70 327.3457
4 4/1/70 319.8527
5 5/1/70 270.3752
6 6/1/70 267.2050

In [3]:
head(GE)

  Date   StockPrice
1 1/1/70 74.25333
2 2/1/70 69.97684
3 3/1/70 72.15857
4 4/1/70 74.25273
5 5/1/70 66.66524
6 6/1/70 67.59318

In [4]:
head(CocaCola)

  Date   StockPrice
1 1/1/70 83.36810
2 2/1/70 81.59105
3 3/1/70 81.33810
4 4/1/70 76.80591
5 5/1/70 69.27857
6 6/1/70 72.01545

In [5]:
head(ProcterGamble)

  Date   StockPrice
1 1/1/70 111.87429
2 2/1/70 111.45368
3 3/1/70 108.45143
4 4/1/70 106.28864
5 5/1/70  73.33286
6 6/1/70  48.31864

In [6]:
head(Boeing)

  Date   StockPrice
1 1/1/70 27.85381
2 2/1/70 22.38105
3 3/1/70 23.10524
4 4/1/70 21.57136
5 5/1/70 18.93286
6 6/1/70 15.44318

In [7]:
str(Boeing)

'data.frame':	480 obs. of  2 variables:
 $ Date      : Factor w/ 480 levels "1/1/00","1/1/01",..: 11 171 211 251 291 331 371 411 451 51 ...
 $ StockPrice: num  27.9 22.4 23.1 21.6 18.9 ...

We need to convert the dates into a format that R can understand. Take a look at the structure of one of the datasets using the str function. Right now, the date variable is stored as a factor. We can convert this to a "Date" object in R by using the following five commands (one for each data set):

IBM$Date = as.Date(IBM$Date, "%m/%d/%y")

GE$Date = as.Date(GE$Date, "%m/%d/%y")

CocaCola$Date = as.Date(CocaCola$Date, "%m/%d/%y")

ProcterGamble$Date = as.Date(ProcterGamble$Date, "%m/%d/%y")

Boeing$Date = as.Date(Boeing$Date, "%m/%d/%y")

In [8]:
IBM$Date = as.Date(IBM$Date, "%m/%d/%y")

GE$Date = as.Date(GE$Date, "%m/%d/%y")

CocaCola$Date = as.Date(CocaCola$Date, "%m/%d/%y")

ProcterGamble$Date = as.Date(ProcterGamble$Date, "%m/%d/%y")

Boeing$Date = as.Date(Boeing$Date, "%m/%d/%y")

In [9]:
str(Boeing)

'data.frame':	480 obs. of  2 variables:
 $ Date      : Date, format: "1970-01-01" "1970-02-01" ...
 $ StockPrice: num  27.9 22.4 23.1 21.6 18.9 ...

**What is the earliest year in our datasets?**

In [10]:
min(IBM$Date)

[1] "1970-01-01"

**What is the latest year in our datasets?**

In [12]:
max(IBM$Date)

[1] "2009-12-01"

**What is the mean stock price of IBM over this time period?**

In [15]:
mean(IBM$StockPrice)

[1] 144.375

**What is the minimum stock price of General Electric (GE) over this time period?**

In [17]:
min(GE$StockPrice)

[1] 9.293636

**What is the maximum stock price of Coca-Cola over this time period?**

In [18]:
max(CocaCola$StockPrice)

[1] 146.5843

**What is the median stock price of Boeing over this time period?**

In [19]:
median(Boeing$StockPrice)

[1] 44.8834

**What is the standard deviation of the stock price of Procter & Gamble over this time period?**

In [20]:
sd(ProcterGamble$StockPrice)

[1] 18.19414

**Around what year did Coca-Cola has its highest stock price in this time period?**